<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><strong>Time</strong></td>
                <td><%= @time %></td>
              </tr>
              <tr>
                <td><strong>Altitude</strong></td>
                <td><%= @altitude %> miles</td>
              </tr>
              <tr>
                <td><strong>Velocity</strong></td>
                <td><%= @velocity %> mph</td>
              </tr>
              <tr>
                <td><strong>Latitude</strong></td>
                <td><%= @latitude %></td>
              </tr>
              <tr>
                <td><strong>Longitude</strong></td>
                <td><%= @longitude %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map"></div>